
  <link rel="stylesheet" href="demo.css">
  <link rel="stylesheet" href="/closure-library/closure/goog/css/autocomplete.css">
	</head>
<%form_for :message, :url=>({ :controller => "messages", :action => "create" }), :html=>({:target=>"upload_frame",:multipart=>true,:id=>"form2"}) do |f|%>
<div class="modal add-item-modal">
	<div class="modal-top-left"></div>
	<div class="modal-top-center">
		<a class="save-btn" id="m_add" href="#message_create" onclick="javascript:message_save_button();">Save</a> 
		<a class="cancel-btn" id="m_can" href="#message_cancel" onclick="javascript:message_cancel_button();">Cancel</a>
		Add New Message
	</div>
	<div class="modal-top-right"></div>
	<div class="modal-body-contain">

		<div class="modal-body">
			<div class="modal-input">
				<fieldset>
					<label>To:</label>
							<%=f.text_field  'recipient', :class=>"textfield", :id=>"txtInput1" %>
		       		
			    </fieldset>
			    <fieldset>
					<label>Subject:</label>

		       		<%=f.text_field 'subject', :class=>"textfield"%>
			    </fieldset>
				<fieldset>
					<label>Project:</label>
										
					<% p session[:project_name] %>
					<% if session[:project_name] %>
					 		<%=f.text_field  'project', :class=>"textfield", :id=>"txtInput2" , :value=>"#{session[:project_name]}", :disabled=>true%>
					 <% else %>
					 		<%=f.text_field  'project', :class=>"textfield", :id=>"txtInput2" %>
					 <% end %>
		       
			    </fieldset>
			    <fieldset id="txtarea">
					<label>Message:</label>

		       		<%=f.text_area 'message', :class=>'textfield', :rows=>"", :cols=>"",:onfocus=>"javascript:changehight(this.id)"%>
							<table id="files"></table>
			    </fieldset>
				<fieldset id="attach">
					<label>Attachments:</label>
					
					<div  id="attach_upload">
						<%#=f.text_area 'attachments', :class=>"textfield", :rows=>"1", :cols=>"25", :onfocus=>"javascript:changehight(this.id)"%>
						<table id="files"></table>
						</div>
			    </fieldset>
					<fieldset>
					<%#=file_field_tag "file" %>
					</fieldset>
					<button id="start_uploads", style="display:none;">Start uploads</button>

			</div>
			
		</div>
	</div>
	<div class="modal-bottom-left"></div>
	<div class="modal-bottom"></div>
	<div class="modal-bottom-right"></div>
<%end%>
<iframe id='upload_frame' name="upload_frame" style="width:0px;height:0px;border:0px;display:none" src="about:blank"></iframe>
<script type="text/javascript">
function changehight(id)
{
field=id
if (field=='message_message')
{
	document.getElementById('txtarea').className="open";
	document.getElementById('message_message').className="textarea";
	}
	else
	{
	document.getElementById('attach').className="open";
	document.getElementById('attach_upload').className="attachment_upload";
	document.getElementById('message_attachments').className="drag-drop";
	document.getElementById('message_attachments').value="drag&drop files here";
	}
	}
<%=@names=[]%>
<%=@projects=[]%>
	<% @user_emails.each do |f|%>
		<%@names<<f <<","%>
		var userEmails = "<%= @names %>";
	<%end%>
				userEmails=userEmails.split(',');
			<% @project_names.each do |f|%>
	    <%@projects<<f <<","%>
		var projectNames = "<%= @projects %>";
	<%end%>
				projectNames=projectNames.split(',');
			
          var ac1 = new goog.ui.AutoComplete.Basic(userEmails, document.getElementById('txtInput1'), true);
    var ac2 = new goog.ui.AutoComplete.Basic(projectNames, document.getElementById('txtInput2'),false);
		
		
		$(function () {
    $('#attach').fileUploadUI({
    uploadTable: $('#files'),
    downloadTable: $('#files'),
    buildUploadRow: function (files, index) {
        return $('<tr><td class="file_upload_preview"><\/td>' +
                '<td>' + files[index].name + '<\/td>' +
                '<td class="file_upload_progress"><div><\/div><\/td>' +
                '<td class="file_upload_start">' +
                '<button class="ui-state-default ui-corner-all" title="Start Upload">' +
                '<span class="ui-icon ui-icon-circle-arrow-e">Start Upload<\/span>' +
                '<\/button><\/td>' +
                '<td class="file_upload_cancel">' +
                '<button class="ui-state-default ui-corner-all" title="Cancel">' +
                '<span class="ui-icon ui-icon-cancel">Cancel<\/span>' +
                '<\/button><\/td><\/tr>');
    },
    buildDownloadRow: function (file) {
        return $('<tr><td>' + file.name + '<\/td><\/tr>');
    },
    beforeSend: function (event, files, index, xhr, handler, callBack) {
        handler.uploadRow.find('.file_upload_start').click(callBack);
    }
	
});

});
  </script>
