<head>
  <link rel="stylesheet" href="/stylesheets/demo.css">
  <!--<link rel="stylesheet" href="/stylesheets/main.css">-->

  <link rel="stylesheet" href="/closure-library/closure/goog/css/autocomplete.css">
   <%#= javascript_include_tag 'jquery.autocomplete','jquery-latest','jquery.bgiframe.min','jquery.fileupload-ui','jquery.fileupload' %>
<script type="text/javascript" src="/javascripts/jquery.autocomplete.js"></script>
</head>
	<div class="modal add-item-modal">
	<div class="modal-top-left"></div>
	<div class="modal-top-center">
		<a class="save-btn" id="m_add" href="#message_create" >Save</a>
		<a class="cancel-btn" id="m_can" href="#message_cancel" >Cancel</a>
		Add New Message
	</div>
	<div class="modal-top-right"></div>
	<div class="modal-body-contain">
		<div class="modal-body">
			<div class="modal-input">
<%form_for :message, :url=>({ :controller => "messages", :action => "create" }), :html=>({:target=>"upload_frame",:multipart=>true,:id=>"form2"}) do |f|%>
				<fieldset style="border-top:medium none;">
					<label>To:</label>
							<%=f.text_field  'recipient', :class=>"textfield", :id=>"txtInput1" %>
		    </fieldset>
			    <fieldset>
					<label>Subject:</label>
		       		<%=f.text_field 'subject', :class=>"textfield"%>
			    </fieldset>
				<fieldset>
					<label>Project:</label>
					
					<% if session[:project_name] %>
					 		<%=f.text_field  'project', :class=>"textfield", :id=>"txtInput2" , :value=>"#{session[:project_name].name}", :disabled=>true%>
					 <% else %>
					 		<%=f.text_field  'project', :class=>"textfield", :id=>"txtInput2" %>
							<input type="hidden" id="autocomplete_hidden" name="project_id" value=""/>
					 <% end %>
			    </fieldset>
			    <fieldset id="txtarea">
					<label>Message:</label>
		       		<%=f.text_area 'message', :class=>'textarea', :rows=>"", :cols=>"", :display=>"none"%>
			    </fieldset>
				<% end %>
				<% form_for :attachs, :url=>{:controller=>"attachments", :action=>"create"}, :html=>{:multipart=>true, :id=>"form3"} do |f3| %>
						<fieldset id="attach" class="open">
						<div id="loader1" style="display:none;">
	           <img src="/images/ajax-loader(2).gif" />
       </div>
					<label>Attachments:</label>
					<div  id="attach_upload" class="attachment-upload" style="display:none;min-height:62px;">
						<div class="drag-drop">Drag and drop files here</div>
						<table id="files"></table>
						<div id="attachment_files"> </div>
						</div>
		        </fieldset>
					    <button id="start_uploads", style="display:none;">Start uploads</button>
		      <% end %>
			</div>
			</div>
		</div>
	</div>
	<div class="modal-bottom-left"></div>
	<div class="modal-bottom"></div>
	<div class="modal-bottom-right"></div>
<iframe id='upload_frame' name="upload_frame" style="width:0px;height:0px;border:0px;display:none" src="about:blank"></iframe>
	 <script type="text/javascript">
var data="2";
	 <%=names=[]%>
	    <% user_emails.each do |f|%>
                <%names<<f <<","%>
                var userEmails = "<%= names %>";
        <%end%>
                                userEmails=userEmails.split(',');
  var ac1 = new goog.ui.AutoComplete.Basic(userEmails, document.getElementById('txtInput1'), true);


	   $(document).ready(function(){
var data = [<% projects.each do |project| %> {text:'<%= project.name %>', id:'<%= project.id %>'},<% end %>{text:'',id:''}];
$("#txtInput2").autocomplete(data, {
  formatItem: function(item) {
    return item.text;
  }
}).result(function(event, item) {
  document.getElementById('autocomplete_hidden').value=item.id;
});
}); 	
		$(function () {
    $('#form3').fileUploadUI({
    uploadTable: $('#files'),
    downloadTable: $('#attachment_files'),
			onProgress: function(event, files, index, xhr, handler){
		$('#loader1').show();
		},
    buildUploadRow: function (files, index) {
        return false;    },
    buildDownloadRow: function (file) {
a=file.id;
var original=file.file
var b=original.lastIndexOf('.')
var c=original.substring(b)
var d=original.split(c)[0]
if(d.length > 12)
{
   var e=d.substring(original,10)
   var file1=e.concat(c)
 }
 	   return $('<div id="attachment_' + a + '" class="attachment">'+'<a href="javascript:delete_attachment('+a+');"> Remove </a>' +'<span class="filename">' + file.file+ '</span></div>');
    },
			onComplete:function (event, files, index, xhr, handler) {
    $('#loader1').hide();
}
});
});
	
	</script>
<script type="text/javascript">
	$('#txtarea').click(function(){
document.getElementById('message_message').style.display="block";
	document.getElementById('txtarea').className="open";
	});
	$('#txtInput2').keydown(function(event){
	if (event.keyCode == 9) {
  document.getElementById('message_message').style.display="block";
	document.getElementById('txtarea').className="open";
	$('.drag-drop').focus();
	}
	});
	$('#message_message').keydown(function(event){
	if (event.keyCode == 9) {
  document.getElementById('attach_upload').style.display="block";
	$('#message_message').focus();
	}
	});
	$('#attach').click(function(){
	document.getElementById('attach_upload').style.display="block";
	});
	function delete_attachment(file)
{
 $.ajax({
      url:'/remove_attach/'+file,
      type: 'get',
			 success: function(file){
			 document.getElementById('attachment_'+file).style.display="none";
			 }
    });
}
</script>