
<html>
<head>
<script src="/closure-library/closure/goog/base.js"></script>
<script>
    goog.require('goog.ui.AutoComplete.Basic');
  </script>
  <link rel="stylesheet" href="demo.css">
  <link rel="stylesheet" href="/closure-library/closure/goog/css/autocomplete.css">
	</head>
<%form_for  :message, :url=>{ :controller => "messages", :action => "create" }, :html=>{ :id => 'form2'} do |f|%>
	<div class="modal-top-left"></div>
	<div class="modal-top-center">
		<a class="save-btn" id="m_add" href="#message_create">Save</a> 
		<a class="cancel-btn" id="m_can" href="#">Cancel</a>
		Add New Message
	</div>
	<div class="modal-top-right"></div>
	<div class="modal-body-contain">

		<div class="modal-body">
			<div class="modal-input">
				<fieldset>
					<label>To:</label>
							<%=f.text_field  'recipient', :class=>"textfield", :id=>"txtInput1" %>
		       		
			    </fieldset>
			    <fieldset>
					<label>Subject:</label>

		       		<%=f.text_field 'subject', :class=>"textfield"%>
			    </fieldset>
				<fieldset>
					<label>Project:</label>
		       		<%=f.text_field  'project', :class=>"textfield", :id=>"txtInput2" %>
			    </fieldset>
			    <fieldset class="open">
					<label>Message:</label>

		       		<%=f.text_area 'message', :class=>'textarea', :rows=>"", :cols=>""%>
			    </fieldset>
				<fieldset class="open">
					<label>Attachments:</label>
					
					<div class="attachment-upload">
						<%=f.text_area 'attachments', :class=>"drag-drop", :cols=>"", :rows=>"", :value=>"Drag and drop files here"%>
						<div class="attachment">

							<a href="#">Remove</a>
							<span class="filename">pricing.txt</span>
						</div>
						<div class="attachment">
							<a href="#">Remove</a>
							<span class="filename">somemegalongna.txt</span>
						</div>

					</div>
			    </fieldset>
			</div>
		</div>
	</div>
	<div class="modal-bottom-left"></div>
	<div class="modal-bottom"></div>
	<div class="modal-bottom-right"></div>
<%end%>
<script type="text/javascript">
<%=@name=[]%>
<%=@names=[]%>
	<% @tcMovies.each do |f|%>
	
	<%@name<<f <<","%>
		var tcMovies = "<%= @name %>";
	<%end%>
				tcMovies=tcMovies.split(',');
	<% @Movies.each do |f|%>
	    <%@names<<f <<","%>
		var Movies = "<%= @names %>";
	<%end%>
				Movies=Movies.split(',');
			
          var ac1 = new goog.ui.AutoComplete.Basic(tcMovies, document.getElementById('txtInput1'), false);
    var ac2 = new goog.ui.AutoComplete.Basic(Movies, document.getElementById('txtInput2'),false);
  </script>
</html>