<div class="l-panel" id= "projectslist">
	<%unless current_user.unread_all_message_count<1%>
	<a class="all-messages has-unread <%=session[:project_selected] ? "" : "open"%>" href="#all_messages" id="all_messages"><span class="num-unread"><%= current_user.unread_all_message_count%></span><span class="icon"></span>All Messages </a>
			<a href="#starred_messages"  id="starred_messages" class="starred starred_count"><% if current_user.starred_messages_count != 0 %><span class="num-tasks"><%= current_user.starred_messages_count%></span><% end %><span class="icon"></span>Starred </a>
			<%else%>
			<a  class="all-messages has-unread <%=session[:project_selected] ? "" : "open"%>" href="#all_messages" id="all_messages"><span class="icon"></span>All Messages </a>
			<a href="#starred_messages" class="starred starred_count"  id="starred_messages" ><% if current_user.starred_messages_count != 0 %><span class="num-tasks"><%= current_user.starred_messages_count%></span><% end %><span class="icon"></span>Starred </a>
			<%end%>
	<div class="projects-list">
	<% projects.each do |project| %>
	<% count= unread_project_message_count(project.id)%>
		<%if !count.nil? && count!=0%>
		<a href="#<%=project.id %>" class="project has-unread"  id="project_list_messages<%= project.id %>"><span class="num-unread"><%=count%></span><span class="icon"></span><%= project.name %></a>
		<%else%>
		<a href="#<%=project.id %>" class="project"  id="project_list_messages<%= project.id %>"><span class="icon"></span><%= project.name %></a>
				<%end%>
	<% end %>
	</div>
</div>


<!--
<a href="#" class="project has-unread" onclick="addClass(this);">
<span class="num-unread">5</span>
<span class="icon"/>
Apple
</a>

-->
