<script>
var Message=true;
$.host="<%="#{APP_CONFIG[:site_url]}/"%>";
</script>
<%=javascript_include_tag "message"%>
<div class="l-panel-contain" id="projects_list">
	<% if @projects %>
		<%= render :partial=>'project_list' %>
	<% end %>
</div>
<div class="m-panel-contain">
  <div class="m-panel" id="message_area">
	</div><!--end of m-panel-->
</div><!--end of m-panel-contain-->
<div class="r-panel-contain">
  <div class="r-panel">
   <%= render 'add_comment'%>
     <div id="comment_area">
      </div>
    <div class="expand-all" style="display:none;">
      <a href="#" id="message_expand">
        <span class="icon"></span>
        <span>Expand all comments</span>
      </a>
    </div>
  </div>
</div><!--end of r-panel-contain-->
<script>
var existing_project='<%=  session[:project_selected] %>';
if(existing_project)
{
	window.location=$('#project_list_messages'+existing_project).attr('href');
	var is_open=$('#project_list_messages'+existing_project).children('.num-unread').length;
  if(typeof(document.getElementById('project_list_messages'+existing_project))!="undefined")
  {
    if(is_open=="0")
    document.getElementById('project_list_messages'+existing_project).className="project open";
    else
    document.getElementById('project_list_messages'+existing_project).className="project has-unread open";
  }
 }
</script>
