<script>
var Message=true;
$.host="<%="#{APP_CONFIG[:site_url]}/"%>";
</script>
<script src="/javascripts/jquery.infinitescroll.js" type="text/javascript"></script>
<%= socky :channels=>"message#{current_user.id}"%>
<%=javascript_include_tag "message"%>
<span id="check<%=current_user.id%>" class= "hide_value" style="display:none;">user</span>
<div class="l-panel-contain" id="projects_list">
	<% if @projects %>
		<%= render :partial=>'project_list',:locals=>{:projects=>@projects} %>
	<% end %>
</div>
<div class="m-panel-contain">
  <%=hidden_field_tag "page",10,:id=>"page_number"%>
  <div class="navigation" style="display:none;"> <a href="/all_messages?page=20">Next</a></div>
  <div class="m-panel" id="message_area">
	</div><!--end of m-panel-->
</div><!--end of m-panel-contain-->
<div class="r-panel-contain">
  <div class="r-panel">
   <%= render 'add_comment'%>
     <div id="comment_area">
      </div>
    <div class="expand-all" style="display:none;">
      <a href="#" id="message_expand">
        <span class="icon"></span>
        <span>Expand all comments</span>
      </a>
    </div>
  </div>
</div><!--end of r-panel-contain-->
<script>
var existing_project='<%=  session[:project_selected] %>';
if(existing_project)
{
	window.location=$('#project_list_messages'+existing_project).attr('href');
	var is_open=$('#project_list_messages'+existing_project).children('.num-unread').length;
  if(typeof(document.getElementById('project_list_messages'+existing_project))!="undefined")
  {
    if(is_open=="0")
    document.getElementById('project_list_messages'+existing_project).className="project open";
    else
    document.getElementById('project_list_messages'+existing_project).className="project has-unread open";
  }
 }
 
 //~ $('.m-panel-contain').scroll(function(){	
    //~ var page_number=parseInt($('#page_number').val());
    //~ var project_id=$('#chat_project_id').val();
    //~ var hash_url=window.location.hash.split('#')[1].split('/')[0];
    //~ var total_height=0;
    //~ $.each($('#message_area').children() ,function(index,v){
        //~ total_height=total_height+parseInt($(v).height());
    //~ });
    //~ if($('.m-panel-contain').scrollTop() > (total_height - $('.m-panel-contain').height()) && page_number!=0)
    //~ {
      //~ $.ajax({
        //~ url:'/'+hash_url+'?page='+page_number,
        //~ type:'get',
        //~ success:function(data){
          //~ if(data.length==0)
            //~ $('#page_number').val(0);
          //~ else
          //~ {
            //~ $('#page_number').val(page_number+20);
            //~ load_second_pane_message(data);
          //~ }
        //~ }
      //~ });
    //~ }
  
  $('.m-panel-contain').infinitescroll({
    nextSelector : "div.navigation a:first",    
                   // selector for the NEXT link (to page 2)
    itemSelector : "#message_area",          
                   // selector for all items you'll retrieve
    debug        : true,                        
    loadingText  : "Loading new posts...",      
    extraScrollPx: 50,      
    bufferPx     : 40,
    localMode    : true 
    },function(data){
    load_second_pane_message(data);
  });
  
  //~ });
</script>
