<div class="user-info">
<div class="label_contain"><br/>
<h3>Analytics</h3><br/>
<span class="name">Active Projects(<%=p_active_count.count%>)</span><br/>
<span class="name">Completed Projects(<%=p_completed_count.count%>)</span><br/>
<span class="name">Message(<%=m_count.count%>)</span><br/>
<span class="name">Tasklists(<%=tl_count.count%>)</span><br/>
<span class="name">Tasks(<%=t_count.count%>)</span><br/>
<span class="name">Users(<%=u_count.count%>)</span><br/>
<span class="name">Guests(<%=g_count.count%>)</span><br/>
</div>
</div>