##Type above this line to post a reply to this message## <br/>
<% if  @existing_user && !@existing_user.is_guest %>
			Project: <%="#{@project.name}" %> <br/>
			Subject: <%="#{@message.subject}" %> <br/>
		  Author: <%= "#{@message.user.name} at  #{@message.created_at.strftime('%I:%M %p')} on #{@message.created_at.strftime('%B %d, %Y') } "%> <br/>

			<%= @message.message %> <br/>

			<% if @message.attachments && !@message.attachments.empty? %>
					<% @message.attachments.each do |attach| %>
			<br/>
						<a href="http://localhost:3000/file_download_from_email/<%=attach.id%>"><%= "http://localhost:3000/file_download_from_email/#{attach.filename}" %></a> <br/>
					<% end %>
			<% end %><br/>
Subscribed: <%= @people %>			<br/><br/>
--<br/>
Post new messages to this project via email: <%= "#{@project.message_email_id} or custom email" %><br/>
Powered by GetMocha.com
<% else %>
		Author: <%= "#{@message.user.name} at  #{@message.created_at.strftime('%I:%M %p')} on #{@message.created_at.strftime('%B %d, %Y') } "%> <br/>

			<%= @message.message %> <br/>

			<% if @message.attachments && !@message.attachments.empty? %>
					<% @message.attachments.each do |attach| %>
					<br/>
						<a href="http://localhost:3000/file_download_from_email/<%=attach.id%>"><%= "http://localhost:3000/file_download_from_email/#{attach.filename}" %></a> <br/>
					<% end %>
			<% end %><br/>
			Subscribed: <%= @people %>			<br/>
			<a href="http://localhost:3000/unsubscribe/<%=@to_user.message_activity(@message.id)%>"> Unsubscribed</a><br/>
			--<br/>
			Powered by GetMocha.com
			
<% end %>

