##Type above this line to post a reply to this message## <br/>
    Author: <%= "#{@comment.user.name} at  #{@comment.created_at.strftime('%I:%M %p')} on #{@comment.created_at.strftime('%B %d, %Y') } "%> <br/>

    <%= @comment.comment %> <br/>

    <% if @comment.attachments && !@comment.attachments.empty? %>
			<% @comment.attachments.each do |attach| %>
			<br/>
						<a href="<%= APP_CONFIG[:site_url] %>/file_download_from_email/<%=attach.id%>"><%=attach.filename%></a> <br/>
					<% end %>
			<% end %><br/>
			<a href="<%= APP_CONFIG[:site_url] %>/unsubscribe_via_email/<%= @user.id%>/<%= @message.id %>"> Unsubscribe from this message </a>to stop recieving email notifications about this message thread<br/><br/>
--<br/>
Powered by GetMocha.com

