##Type above this line to post a reply to this message## <br/>
<% if  @existing_user && !@existing_user.is_guest %>
			Project: <%="#{@project.name}" %> <br/>
			Subject: <%="#{@message.subject}" %> <br/>
		  Author: <%= "#{@message.user.name} at  #{@message.created_at.strftime('%I:%M %p')} on #{@message.created_at.strftime('%B %d, %Y') } "%> <br/>

			<%= @message.message %> <br/>

			<% if @message.attachments && !@message.attachments.empty? %>
					<% @message.attachments.each do |attach| %>
			<br/>
						<a href="<%= APP_CONFIG[:site_url] %>/file_download_from_email/<%=attach.id%>"><%= "#{attach.filename}" %></a> <br/>
					<% end %>
			<% end %><br/>
Subscribed: <%= @people %>			<br/>
			<a href="<%= APP_CONFIG[:site_url] %>/unsubscribe_via_email/<%= @existing_user.id %>/<%= @message.id %>"> Unsubscribe from this message </a>to stop recieving email notifications about this message thread<br/><br/>
--<br/>
Post new messages to this project via email: <%= "#{@project.message_email_id} or custom email" %><br/>
Powered by GetMocha.com
<% else %>
		Author: <%= "#{@message.user.name} at  #{@message.created_at.strftime('%I:%M %p')} on #{@message.created_at.strftime('%B %d, %Y') } "%> <br/>

			<%= @message.message %> <br/>

			<% if @message.attachments && !@message.attachments.empty? %>
					<% @message.attachments.each do |attach| %>
					<br/>
						<a href="<%= APP_CONFIG[:site_url] %>/file_download_from_email/<%=attach.id%>"><%= "#{attach.filename}" %></a> <br/>
					<% end %>
			<% end %><br/>
			Subscribed: <%= @people %>			<br/>
			<a href="<%= APP_CONFIG[:site_url] %>/unsubscribe_via_email/<%= @existing_user.id %>/<%= @message.id %>"> Unsubscribe from this message </a>to stop recieving email notifications about this message thread<br/><br/>
			--<br/>
			Powered by GetMocha.com
			
<% end %>

