##Type above this line to post a reply to this message##<br/>
     <%=raw @comment.task_comment_notify%><br/>
			<% @comment.attachments.each do |attach| %>
			<br/>
						<a href="<%= APP_CONFIG[:site_url] %>/file_download_from_email_task/<%=attach.id%>"><%=attach.filename%></a> <br/>
					<% end %>
			<br/>
			<a href="<%= APP_CONFIG[:site_url] %>/unsubscribe_via_email_task/<%= @user.id%>/<%= @task.id %>"> Unsubscribe from this task </a>to stop recieving email notifications about this task<br/><br/>
 --<br/>
  <%if @project.is_member?(@user.id)%>
Add tasks to this project via email: [project- <%=@project.name%>_<%=@project.id%>@t.getmocha.com or custom email]<br/>
Powered by GetMocha.com
<%else%>
Powered by GetMocha.com
<%end%>