##Reply above this line to add a comment to this task##
<br/>
Project: <%=@project.name%>
<br/>
Task List: <%=@task.task_list_name%>
<br/>
Task: <%=@task.name%>
<br/>
Reassigned to: <%=@task.assigned_to%>
<br/>
<%=@task.due_date_mail%>
<br/>
<%=@task.description%>
<br/>
Subscribed: <%=@task.subscribed_user_names.join(',')%>
<br/>
<a href=<a href="<%= APP_CONFIG[:site_url] %>/unsubscribe_task_email/<%= @user.id%>/<%= @task.id %>"> Unsubscribe from this task </a>to stop recieving email notifications about this task<br/><br/> to stop recieving email notifications about this task.
<br/>

--
Powered by GetMocha.com