<html>
<body>
 <% if  @existing_user && !@existing_user.is_guest %>
			Project: <%="#{@project.name}" %> <br/>
			<%= raw @task.task_notification %><br/>
			<%@task.attachments.each do |attach| %>
						<a href="<%= APP_CONFIG[:site_url] %>/file_download_from_email/<%=attach.id%>"><%= "#{attach.filename}" %></a> <br/>
					<% end %>
		<br/>
Subscribed: <%= @people %>			<br/>
			<a href="<%= APP_CONFIG[:site_url] %>/unsubscribe_via_email/<%= @existing_user.id %>/<%= @task.id %>"> Unsubscribe from this  message </a>to stop recieving email notifications about this message thread<br/><br/>
--<br/>
Post new task to this project via email: <%= "{@project.task_email_id} or custom email" %><br/>
Powered by GetMocha.com
<% else %>
		   Author: <%= @task.author%> <br/>
			<%= @task.description %> <br/>
					<% @task.attachments.each do |attach| %>
					<br/>
						<a href="<%= APP_CONFIG[:site_url] %>/file_download_from_email/<%=attach.id%>"><%= "#{attach.filename}" %></a> <br/>
					<%end %>
			<br/>
			Subscribed: <%= @people %>			<br/>
			<a href="<%= APP_CONFIG[:site_url] %>/unsubscribe_via_email/<%= @existing_user.id %>/<%= @task.id %>"> Unsubscribe from this message </a>to stop recieving email notifications about this message thread<br/><br/>
			--<br/>
			Powered by GetMocha.com
	<% end %>
</body>
</html>