##Reply above this line to add a comment to this task##<br/>

Project: <%=@project.name%>
Task: <%=@task.name%>
Assigned to: <%=@task.assigned_to%>
Due date: <%=@task.due_date.strftime("%B %e, %Y")%>
<br/>
<%if !@task.description.blank?%><br/><%=@task.description%><br/><%end%>
<% @task.attachments.each do |attach| %>
    <br/>
    <a href="<%= APP_CONFIG[:site_url] %>/file_download_from_email/<%=attach.id%>"><%= "#{attach.filename}" %></a> <br/>
  <%end %><br/>
Subscribed: <%=@task.subscribed_user_names.join(', ')%><br/>

<a href=<a href="<%= APP_CONFIG[:site_url] %>/unsubscribe_via_email_task/<%= @user.id%>/<%= @task.id %>"> Unsubscribe from this task</a> to stop recieving email notifications about this task<br/><br/>
<br/>

--<br/>

Add tasks to this project via email: <%if !@custom_email.nil? %> <%=@custom_email.email%> <%else%> <%=@project.task_email_id%> <%end%><br/>

Powered by GetMocha.com
