<div class="l-panel-contain">
  <div class="l-panel">
    <%=link_to_all_tasks%>
    <%=link_to_my_tasks%>
    <%=link_to_starred_tasks%>
    <%=link_to_completed_tasks%>
    <div class="projects-list">
      <%projects.each do |project|%>
        <%=project_tab(project)%>
      <%end%>
    </div>
  </div>
</div>
