<%= socky %>
<%=javascript_include_tag "chat"%>

    
<div class="l-panel-contain">
  <div class="l-panel">
    <div class="projects-list">
      <%@projects.each do |project|%>
        <%=project_link project%>
      <%end%>
    </div>
  </div>
</div>
<div class="m-panel-contain">
  <div class="m-panel">
    <div class="sub-header">Participants</div>
    <div class="m-tab alt">
      <div class="left-icons">
        <div class="avatar-mini"></div>
        <img alt="avatar" class="avatar-mini-img" src="<%=current_user.image_url%>"/>
      </div>
      <div class="info">
        <span class="position"><%=current_user.title%></span><br/>
        <span class="name"><%=current_user.full_name%></span>
        <span class="p-number"><%=current_user.phone%></span>
        <span class="email"><a href="mailto:<%=current_user.email%>"><%=current_user.email%></a></span>
      </div>
      <%=clear_fix%>
    </div>
  </div>
</div>



<div class="r-panel-contain">
		<div class="r-panel" style="display:none;">
			<div class="comment-contain">
				<div class="comment-input no-attach">
					<label class="hidden">Message:</label> 
					<%=hidden_field_tag "chat[project_id]",:id=>"chat_project_id"%>
					<textarea cols="" rows="" onfocus="this.select()" id="chat-message" class="textarea comment-message" name="message"></textarea>
					<div class="chat-right">
						<a class="attach" href="/chats-1"></a>
						<input type="submit" value="Send" class="chat-send" id="chat-send"></input>
					</div>
					<%=clear_fix%>
				</div>
				<%=clear_fix%>
			</div>
			<div class="chat-container" style="height: 159px;">
				<div class="message recent chat-1">
					<div class="color"></div>
					<div class="name"><span>Michael A.</span></div>
					<div class="content most-recent">I like it.This is just a test of something quite long and we need to see how things scale. What do you think?<br/>This is just a test of something quite long and we need to see how things scale. What do you think?This is just a test of something quite long and we need to see how things scale. What do you think?This is just a test of something quite long and we need to see how things scale. What do you think?</div>
				</div>
				<div class="message chat-2">
					<div class="color"></div>
					<div class="name"><span>James M.</span></div>
					<div class="content most-recent">Could you explain more?
						<div class="attachments">
							<div class="attachment-thumb-frame"><img alt="attachment" src="/images/content/attachment-1.jpg"/></div>
							<div class="attachment-thumb-frame"><img alt="attachment" src="/images/content/attachment-2.jpg"/></div>
							<div class="attachment-thumb-frame"><img alt="attachment" src="/images/content/attachment-1.jpg"/></div>
							<%=clear_fix%>
						</div>
					</div>
				</div>
				<div class="message chat-1 same-user">
					<div class="color"></div>
					<div class="name"><span>Michael A.</span></div>
					<div class="content">This is just a test of something quite long and we need to see how things scale. What do you think?</div>
				</div>
				<div class="message chat-1">
					<div class="color"></div>
					<div class="name"><span>Michael A.</span></div>
					<div class="content">Oh and one more thing. Are you ready for that presentation we have to make on Tuesday to Google?</div>
				</div>
				<div class="message chat-2">
					<div class="color"></div>
					<div class="name"><span>James M.</span></div>
					<div class="content">Oh yeah we're ready baby!</div>
				</div>
				<div class="message chat-3">
					<div class="color"></div>
					<div class="name"><span>Ben L.</span></div>
					<div class="content">Yeah I hear you.</div>
				</div>
				<%=clear_fix%>
			</div>
		</div>
	</div>
	<div id="add_people" style="display:none;">
		<%= render :partial=>'projects/invite',:locals=>{:user_emails=>@user_emails} %>
		<div>
		
	<script>
	function add_people_settings()
{
document.getElementById('add_people').style.display="block";
document.getElementById('invite_message').value="";
document.getElementById('invite_name').value="";
document.getElementById('invite_email').value="";
}

function send_people_invite()
{
proj_id=document.getElementById('project_id').value;
name=document.getElementById('invite_name').value;
email=document.getElementById('invite_email').value;
message=document.getElementById('message').value;
var pars = "project_id=" + proj_id +  "&name="+ name +  "&email="+ email +  "&message="+ message;
$.ajax({
       type :'get',
       url : "/projects/invite_people_settings?"+pars,
			  success: function(data){
				if(data.length==1)
				document.getElementById('add_people').style.display="none";
							document.getElementById('invite_name').value="";
			document.getElementById('invite_email').value="";
			document.getElementById('message').value="";
				}
    });
}
function cancel_people_invite()
{
			document.getElementById('add_people').style.display="none";
			document.getElementById('invite_name').value="";
			document.getElementById('invite_email').value="";
			document.getElementById('message').value="";
}
</script>