<div class="modal invite-modal">
	<div class="modal-top-left"></div>
	<div class="modal-top-center">
	<link rel="stylesheet" href="demo.css">
  <link rel="stylesheet" href="/closure-library/closure/goog/css/autocomplete.css">
		<a href="#" class="save-btn" onclick="javascript:send_people_invite();">Send</a>
		<a href="#" class="cancel-btn"  onclick="javascript:cancel_people_invite();">Cancel</a>

		Invite Contact
	</div>
	<div class="modal-top-right"></div>
	<div class="modal-body-contain">
		<div class="modal-body">
			<div class="modal-input">
				<fieldset>
					<label>Name:</label>
					<%= text_field :invite, :name, :class=>"textfield" %>
		       		<!--<input type="text" name="name" value="" class="textfield"/>-->

			    </fieldset>
			    <fieldset>
					<label>Email:</label>
					<%= text_field :invite, :email, :class=>"textfield" %>
		       		<!--<input type="text" name="email" value="" class="textfield"/>-->
			    </fieldset>
			    <fieldset  id="ellaborates" >
					<label>Message:</label>
		       		<%=text_area_tag 'message', nil,:class=>'textfield', :rows=>"", :cols=>"", :id=>"message",:onfocus=>"javascript:ellaborates()"%>

			    </fieldset>
			</div>
		</div>
	</div>
	<div class="modal-bottom-left"></div>
	<div class="modal-bottom"></div>
	<div class="modal-bottom-right"></div>
</div>
	<script>
	function ellaborates(){
	document.getElementById('ellaborates').className="open";
	document.getElementById('message').className="textarea";
	}
<%=emails=[]%>
	<% @user_emails.each do |f|%>
	
	<%emails<<f <<","%>
		var userEmails= "<%= emails %>";
	<%end%>

				userEmails=userEmails.split(',');
				var ac2 = new goog.ui.AutoComplete.Basic(
      userEmails, document.getElementById("invite_email"), false);
  </script>