<div class="l-panel">
	<div class="sub-header">Project Settings</div>
	<div class="projects-list" id="active_projects">
	<% projects.each do |project| %>
		<a href="#project" class="project <%=session[:project_selected].to_i == project.id ? "open" : ""%>" onclick="javascript:settings_secondpanel('<%= project.id %>');" id="project_list_<%= project.id %>"><span class="icon"></span><%= project.name %></a>
		<!--<a href="/settings-general" class="project open" onclick="addClass(this);"><span class="icon"></span>Simple Station</a>-->
	<% end %>
	</div>
	<% if completed_projects %>
		<div class="expand-completed"><span  onclick="javascript:show_completed_projects();">Show Completed</span><span class="icon"></span></div>
	
	<div class="projects-list" id="completed_list" style="display:none";>
	<% completed_projects.each do |project| %>
		<a href="#project" class="project" onclick="javascript:settings_secondpanel('<%= project.id %>');" id="project_list_<%= project.id %>"><span class="icon"></span><%= project.name %></a>
		<!--<a href="/settings-general" class="project open" onclick="addClass(this);"><span class="icon"></span>Simple Station</a>-->
	<% end %>
	<% end %>
	</div>

</div>