<%project=@project%>
<div class="m-panel-contain" id="settings_secondpanel">
		<div class="m-panel">
			<a href="#general" onclick="javascript:settings_thirdpanel('general');" class="m-tab alt" id="general_anchor" style="font-size:14px;">General</a>
			<a href="#people" onclick="javascript:settings_thirdpanel('people');" class="m-tab alt" id="people_anchor" style="font-size:14px;">People</a>
		</div>
	</div>
	<div class="r-panel-contain" id="settings_general" style="display:none;">
	<input type="hidden" id="project_name"/>
		<div class="r-panel">
			<div class="project-info">
				<h4>General</h4>
				<form action="" style="margin-bottom: 10px;">
					<fieldset>
						<div class="label-contain">
							<label>Project Name:</label>
						</div>
						<div class="info-right">
						<input type="hidden" id="project_id" value="<%= project.id%>"/>
							<span class="info" id="settings_project_name"><%= project.name %></span>
							<%= text_field(:text, :anchor, :class=>"textfield hidden", :value=>project.name) %>
							<!--<input type="text" name="first-name" 	class="textfield hidden" id="text_anchor" value="<%#= project.name %>"/>-->
							<a href="#edit" onclick="javascript:settings_project_info(this.innerHTML,'<%= project.id %>');" class="edit" id="edit_anchor">Edit</a>
						</div>
				    </fieldset>
				    <fieldset>
						<div class="label-contain">
							<label>Public Access:</label>
						</div>
						<div class="info-right">
							<div class="checkbox"><span class="<%= project.is_public? ? "icon checked" : "icon" %>" onclick="javascript:change_public_access(<%= project.id %>);" id="settings_public_access"></span></div>
				      </div>
				    </fieldset>
				    <fieldset>
						<div class="label-contain">
							<label>Messages:</label>
						</div>
						<div class="info-right">
						<span class="info"><%= project.message_email_id %></span><br />
						<% project.custom_emails.each do |mail| %>
						<% custom=CustomEmail.find(:first, :conditions=>['custom_type=? AND verification_code IS NULL', "Message"]) %>
							<% if mail.custom_type=="Message" %>
							<span class="info"><%= mail.email %><%= custom ? "(verified)" : "(unverified)" %></span><a href="#" class="edit" onclick="javascript:delete_custom_mail('<%= mail.id %>','<%= project.id %>');">Delete</a>		<br/>		
							<% end %>
						<% end %>
						<%= text_field(:message_email, :textfield, :class=>"textfield hidden") %>
							<%unless project.has_custom_message_id?%>
							<a href="#add-email" class="add-email" onclick="javascript:add_message_email('<%= project.id %>');" id="change_message_email">+ Add another email</a>
							<%end%>
						</div>
				    </fieldset>
				    <fieldset>
						<div class="label-contain">
							<label>Tasks:</label>
						</div>
						<div class="info-right">
						<span class="info"><%= project.message_email_id %></span><br />
							<% project.custom_emails.each do |mail| %>
							<% custom=CustomEmail.find(:first, :conditions=>['email=? AND verification_code IS NULL', mail]) %>
						<% if mail.custom_type=="Task" %><span class="info"><%= mail.email %><%= custom ? "(verified)" : "(unverified)" %></span><a href="#" class="edit" onclick="javascript:delete_custom_mail('<%= mail.id %>','<%= project.id %>');">Delete</a>		<br/>				<% end %>
						<% end %>
						 <%= text_field(:task_email, :textfield, :class=>"textfield hidden") %>
						 <%unless project.has_custom_task_id?%>
							<a href="#add-email" class="add-email" onclick="javascript:add_task_email('<%= project.id %>');" id="change_task_email">+ Add another email</a>
								<% end %>
				       	</div>
				    </fieldset>
				    <fieldset>
						<div class="label-contain">
							<label>Status:</label>
						</div>
						<div class="info-right">
							<span class="info" id="project_status_label"><% if project.status == 1 %> Active <% elsif project.status == 2 %>In Progress<% else %> Completed <% end %></span>
							    <%= select_tag(:project_status_select_box, options_for_select([["Active",1], ["In Progress",2],["Completed",3]],:selected => project.status), :class=>"hidden")   %>
				       		<a href="#edit" class="edit" onclick="javascript:change_project_status(<%= project.id %>);" id="change_project_status">Edit</a>			       	
				       	</div>

				    </fieldset>			
				</form>				
			</div>
		</div>
	</div>
	<div class="r-panel-contain" id="settings_people" style="display:none;">
		<div class="r-panel">
			<% if !project.project_users.blank? %>
				<div class="team-members">
					<h2>Team Members</h2>
					<% project.project_users.each do |proj_user| %>
						<% if proj_user.status? %>
								<div class="person">
								<div class="avatar-mini"></div>
								<img src="images/content/stuart-avatar.jpg" class="avatar-mini-img" alt="avatar" />
								<span class="name"><%= proj_user.user.full_name %></span>
								<a href="#" class="remove" onclick="javascript:remove_people_settings(<%= proj_user.user.id %>,<%= project.id %>);">[x]</a>
								<div class="clear-fix"></div>
							</div>
						<% end %>
					<% end %>
				</div>
			<% end %>
			<% if !project.project_guests.blank? %>
				<div class="guests">
					<h2>Guests</h2>
					<% project.project_guests.each do |proj_guest| %>
					  <% if proj_guest.status? %>
							<div class="person">
								<div class="avatar-mini"></div>
								<img src="images/content/alex-avatar.jpg" class="avatar-mini-img" alt="avatar" />
								<span class="name"><%= proj_guest.guest.email %></span>
								<a href="#" class="remove" onclick="javascript:remove_people_settings(<%= proj_guest.guest.id %>,<%= project.id %>);">[x]</a>
								<div class="clear-fix"></div>
							</div>
						<% end %>
					<% end %>
				</div>
			<% end %>
		</div>
	</div>