
<body class="login">

<div class="header">
<%= render :partial=>'/home/header'%>
</div>

<div class="cup-lg-c"></div>

<div class="wrap under-cup content-bottom" style="position:relative;">
	<div class="grid-400-c reset-form">
		<h1>Enter the password below</h1>

 <%= form_for(resource, :as => resource_name, :url =>password_path(resource_name),:class=>"no-labels",:html => {:method => :put }) do |f| %>
 
     <%= f.hidden_field :reset_password_token %>

	  <%= f.password_field :password,:class=>"textfield"%> 
		
	  <%= f.submit "Reset",:class=>"btn login-btn"%></p>

   <% end %>
	 
	</div>
		

	<div class="push"></div>
</div>


<div class="footer">
	
	<div class="container-960">
		<span class="copy">Copyright &copy; 2011 Mocha</span>

		<ul>
			<li><a href="/signin">Login</a></li>

			<li><a href="#">Blog</a></li>
			<li><a href="/faq">FAQ</a></li>
			<li><a href="/terms">Terms of Use</a></li>
			<li><a href="/privacy">Privacy Policy</a></li>
  <li><span id="pass-reset-js" style="position: relative;">Forgot Password?</span></li>
		</ul>
	</div>


</div>

</body>
