<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://gmpg.org/xfn/11">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title> Mocha</title>
  <meta name="description" content="A description of the page must go here." />
  <meta name="keywords" content="keyword1,keyword2,keyword3" />
  <meta name="robots" content="INDEX,FOLLOW" />
  <meta charset="utf-8" />
  <%= csrf_meta_tag %>
	<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
  <%=stylesheet_link_tag "base","modal","scrollbar",'colorpicker'%>
  <script src="/closure-library/closure/goog/base.js"></script>
  <script>
    goog.require('goog.dom');
    goog.require('goog.events.KeyCodes');
    goog.require('goog.ui.KeyboardShortcutHandler');
    goog.require('goog.ui.AutoComplete.Basic');
  </script>
		<!--[if lte IE 9]>
		<link rel="stylesheet" type="text/css" href="/styles/ie.css" />
	<![endif]-->

    <%= javascript_include_tag 'size-container','open','jquery-1.4.4.min','jquery.validate','date', 'colorpicker','eye','utils','jquery.fileupload-ui','jquery.fileupload' ,'application'%>
    <script src="http://ajax.cdnjs.com/ajax/libs/underscore.js/1.1.4/underscore-min.js"></script>
    <script src="http://ajax.cdnjs.com/ajax/libs/backbone.js/0.3.3/backbone-min.js"></script>		
			<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script> 


	
	<!--[if lt IE 7]>
	<script src="http://ie7-js.googlecode.com/svn/version/2.0(beta3)/IE7.js" type="text/javascript"></script>
	<![endif]-->

	<!--[if IE 6]>
	<script type="text/javascript">
		// Load jQuery if not already loaded
		if (typeof jQuery == 'undefined') {
			document.write('<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></'+'script>');
			var __noconflict = true;
		}
		var IE6UPDATE_OPTIONS = {icons_path: '/scripts/third-party/ieupdate/images/'};
	</script>
	<script src="/scripts/third-party/ieupdate/ie6update.js" type="text/javascript"></script>
	<![endif]-->

	
	<!--<link rel="shortcut icon" href="/images/favicon.ico" />-->
</head>

<body class="messages">
<%= render :partial=>'/layouts/header'%>
<div class="clear-fix"></div>
<div id="container">
  <%=yield%>
	<div class="clear-fix"></div>
</div>

<div class="sort-by-tooltip" style="display:none;">
	<div class="sort-by-top"></div>
	<ul>
		<li class="sort selected"><span>Date</span></li>
		<li class="sort"><span>Starred</span></li>
		<li class="sort"><span>Unread</span></li>
	</ul>
	<ul>
		<li class="asc-desc"><span class="asc">Ascending</span></li>
		<li class="asc-desc selected"><span class="desc">Descending</span></li>
	</ul>
</div>

<div id="add_new_mods" class="modal add-new-modal" style="display:none">
	<div class="modal-top-left"></div>
	<div class="modal-top-center"></div>
	<div class="modal-top-right"></div>
	<div class="modal-body-contain">
		<div class="modal-body">
			<a href="#create_message" class="silver-45 create_message" ><span>Messages</span></a>
			<a href="#add-task" class="silver-45 create_task"><span>Task</span></a>
			<a href="#add-task-list" class="silver-45 create_task_list"><span>Task List</span></a>
			<a href="#create_project" class="silver-45 create_project"><span>Project</span></a>
		</div>
	</div>
	<div class="modal-bottom-left"></div>
	<div class="modal-bottom"></div>
	<div class="modal-bottom-right"></div>
</div>
<div id="add_new_mod">
</div>
<%=render "/layouts/name_settings"%>
 
</body>


  
       


<script>
    function showTriggered(event) 
    {
      if(event.identifier=='ENTER')
      {
        short_modal('/projects/add_new');
      }
      if(event.identifier=='GS')
      {
        short_modal2('/settings');
      }
      if(event.identifier=='GP')
      {
        short_modal2('/settings-profile');
      }
      if(event.identifier=='Q')
      {
        short_modal2('/messages');
      }
      if(event.identifier=='SHIFT_M')
      {
        short_modal1('/messages/new');
      }
      if(event.identifier=='ESC')
      {
			//  short_modal('esc');
        short_modal1('esc');
				
      }
      if(event.identifier=='R')
      {
      short_model3();
      }
			if(event.identifier=='U')
			{
			 short_modal4('U');
			}
			if(event.identifier=='T')
			{
			 short_modal4('T');
			}
			if(event.identifier=='DOWN')
			{
			 short_modal_down();
			}
			if(event.identifier=='RIGHT')
			{
			short_modal_right();
			}
			if(event.identifier=='UP')
			{
			short_modal_up();
			}
			if(event.identifier=='LEFT')
			{
			short_modal_left();
			}
			 
    }

  var shortcutHandler = new goog.ui.KeyboardShortcutHandler(document);
  var NONE = goog.ui.KeyboardShortcutHandler.Modifiers.NONE;   
  var ESC = goog.ui.KeyboardShortcutHandler.Modifiers.ESC; 
  var CTRL = goog.ui.KeyboardShortcutHandler.Modifiers.CTRL;
  var SHIFT = goog.ui.KeyboardShortcutHandler.Modifiers.SHIFT;
  var ENTER= goog.ui.KeyboardShortcutHandler.Modifiers.ENTER;
	 var UP= goog.ui.KeyboardShortcutHandler.Modifiers.UP;
	 var DOWN= goog.ui.KeyboardShortcutHandler.Modifiers.DOWN;
	 var LEFT= goog.ui.KeyboardShortcutHandler.Modifiers.LEFT;
	 var RIGHT= goog.ui.KeyboardShortcutHandler.Modifiers.RIGHT;
   //var S=  goog.ui.KeyboardShortcutHandler.Modifiers.S;            
  shortcutHandler.registerShortcut('ENTER',goog.events.KeyCodes.ENTER);
  shortcutHandler.registerShortcut('ESC',goog.events.KeyCodes.ESC);
  shortcutHandler.registerShortcut('SHIFT_M',goog.events.KeyCodes.M, SHIFT);
  shortcutHandler.registerShortcut('Q',goog.events.KeyCodes.Q)
  shortcutHandler.registerShortcut('R',goog.events.KeyCodes.R)
	shortcutHandler.registerShortcut('U',goog.events.KeyCodes.U)
	shortcutHandler.registerShortcut('T',goog.events.KeyCodes.T)
  shortcutHandler.registerShortcut('GS',goog.events.KeyCodes.G, NONE, goog.events.KeyCodes.S);
  shortcutHandler.registerShortcut('GP',goog.events.KeyCodes.G, NONE,goog.events.KeyCodes.P);        
  shortcutHandler.registerShortcut('BACK_SPACE', goog.events.KeyCodes.BACKSPACE);
	shortcutHandler.registerShortcut('UP',goog.events.KeyCodes.UP);
	shortcutHandler.registerShortcut('DOWN',goog.events.KeyCodes.DOWN);
	shortcutHandler.registerShortcut('LEFT',goog.events.KeyCodes.LEFT);
	shortcutHandler.registerShortcut('RIGHT',goog.events.KeyCodes.RIGHT);
  goog.events.listen(shortcutHandler,goog.ui.KeyboardShortcutHandler.EventType.SHORTCUT_TRIGGERED,showTriggered);
  $(document).ready(function(){
    $('a.menutext').click(function(){
      path=($(this).attr('href'));
      redirect_short(path);
      return false;
    });
  });
	
	function short_modal_down()
	{
		location1=window.location.href;
		find_loc=location1.search(/settings/);
		if(find_loc!=-1)
		{
			settings_navigation_down('down');
		}
	}
	
	function short_modal_right()
	{
		location1=window.location.href;
		find_loc=location1.search(/settings/);
		if(find_loc!=-1)
		{
			settings_navigation_right();
		}
	}
	
	function short_modal_left()
	{
			location1=window.location.href;
		find_loc=location1.search(/settings/);
		if(find_loc!=-1)
		{
			settings_navigation_left();
		}
	}
	
	function short_modal_up()
	{
			location1=window.location.href;
		find_loc=location1.search(/settings/);
		if(find_loc!=-1)
		{
			settings_navigation_down('up');
		}
	}
        
  function short_modal(path)  //Add new project/messsage/task/tasclist
  {
		
      $('#add_new_mods').show();

      
  }
  
  function short_modal1(path)  //Add new project/messsage/task/tasclist
  {
    if (path!='esc')
    {
      $.ajax({
        type :'get',
        url :path,
        success: function(data){
          $('#add_new_mod').html(data);  
          $('#add_new_mod').show();  
         }
      });
    }
    else
    {
      $('#add_new_mod').hide(); 
      $('#add_people').hide(); 
			$('#add_new_mods').hide();
    }
  }
  
	function short_modal2(path)
  {
		window.location.href=path;
  }
  function short_model3()
  {
if(($('#reply_comment').parent('li.message_header').css('display')=="list-item" && ($('#reply_comment').css('display')=="block")) )
      $('.comment-contain').slideToggle('slow');
  }
	function short_modal4(key)
	{
	a=$('#submsg').css('display');
	if(a=="inline")
	{
	if(key=="U")
	{
	 var id=$('.message.messow.open').attr('id').split('msac')[1];
    $.ajax({
      url:'/subscribe/'+id,
      type: 'get'
    });
		    var content=$('#submsg').text();
    var result = (content=="Subscribe" ? "Unsubscribe" : "Subscribe");
    $('#submsg').text(result);
		return false;
		}
		else
		{
		  var activity_id=$('.message.messow.open').attr('id').split('msac')[1];
      $.ajax({
        url: '/messages',
        type:'delete',
        data:{'activity_id':activity_id}
      });
      $('#comment_area').fadeOut('');
      $('.comment-input').hide();
      $('#msac'+activity_id).fadeOut('slow',function(){$(this).remove()});
		}
		
		}
	}
		
		function settings_navigation_down(key)
		{
			second_panel=$('#settings_secondpanel').css('visibility');
			people=$('#settings_people').css('display');
			general=$('#settings_general').css('display');
			if(people=="block" || general=="block")
			{
				// for second panel navgation
				people=$('#settings_people').css('display');
				general=$('#settings_general').css('display');
				if(people=="none" && general=="none")
				{
					settings_thirdpanel('general');
				}
				else if(people=="none")
				{
					settings_thirdpanel('people');
				}
				else
				{
					settings_thirdpanel('general');
				}
			}
			else
			{
				//first_panel_navigation
				active_length=$('#active_projects').children('').length;
				length=$('.projects-list').children("").length;
				already_exists="false";
				for(i=0; i<length; i++)
				{
					classopen=$('.projects-list').children("")[i].className;
					if(classopen=="project open")
					{
					
					if(key=="down" && i==length-1)
					 $('#completed_list').hide();
					 else if(key=="up" && i==0)
					 $('#completed_list').show();
					 else if(key=="down" && i >= active_length-1)
					 $('#completed_list').show();
					 else if(key=="up" && i == active_length)
					 $('#completed_list').hide();

					 
						if(key=="down" && i==length-1)
						already_exists=$('.projects-list').children("")[0].id;
						else if(key=="up" && i==0)
						already_exists=$('.projects-list').children("")[length-1].id;
						else
						if(key=="down")
						already_exists=$('.projects-list').children("")[i+1].id;
						else
						already_exists=$('.projects-list').children("")[i-1].id;
					}
				}
				if(already_exists=="false")
				{
						first_item=$('.projects-list').children("")[0].id;
						id=first_item.split('_');
						id=id[id.length-1];
						settings_secondpanel(id);
				}
				else
				{
				
				id=already_exists.split('_');
						id=id[id.length-1];
						settings_secondpanel(id);
				}
			}
		}
		
		
		function settings_navigation_right()
		{
			second_panel=$('#settings_secondpanel').css('visibility');
		  if(second_panel=="visible")
			{
	 			people=$('#settings_people').css('display');
				general=$('#settings_general').css('display');
				if(people=="none" && general=="none")
				{
					settings_thirdpanel('general');
				}
				else if(people=="none")
				{
				settings_thirdpanel('people');
				}
				else
				{
				settings_thirdpanel('general');
				}
			}
		}
		
		function settings_navigation_left()
		{
			people=$('#settings_people').css('display');
			general=$('#settings_general').css('display');
			if(people=="block" || general=="block")
			{
				$('#settings_people').hide();
				$('#settings_general').hide();
				document.getElementById('people_anchor').className="m-tab alt";
				document.getElementById('general_anchor').className="m-tab alt";
			}
		}
		
</script>

</html>

