 <%= javascript_include_tag 'colorpicker','jquery.fileupload-ui','jquery.fileupload'%>
<div class="l-panel-contain">
	<div class="l-panel">
	<div class="sub-header">Personal Settings</div>
	<a href="/settings-profile" class="my-account open" onclick="addClass(this);"><span class="icon"></span>My Account</a>
	</div>
	</div>
	<div class="m-panel-contain">
		<div class="m-panel">
			<a href="#" class="m-tab open" id="myprofile1">My Profile</a>
			<a href="#" class="m-tab alt" id="mycontact1">My Contacts</a>
		</div>
	</div>
	<div class="r-panel-contain" id="my_profile">
		<div class="r-panel">
			<div class="avatar-upload">
					<div class="avatar-lg"></div>
					<%unless current_user.attachment.present?%>
				        <img src="/images/content/sample.png"  width="69" height="69" id="default-image" class="avatar-lg-img" alt="avatar"/>
					<%else%>
  		        	<img src="<%=current_user.attachment.public_filename(:profile) %>"  id="default-image" class="avatar-lg-img" alt="avatar"/>
				   <%end%>
  		<table id="files" ></table>
			<form id="file_upload" action="/updates/save_image"  method="POST" enctype="multipart/form-data">
		 	<div class="drag-drop">Drag and drop files here</div>
			</form>
			<div class="clear-fix"></div>
			</div>
				<div class="user-info" id="user_information">
				<form action="">
					<fieldset>
						<div class="label-contain">
						    	<p><%= label_tag "First Name:"%><br /></p>
						</div>
					<div class="info-right">
					      <span class="info_firstname" id="label_first_name"><%=current_user.first_name%></span>
					      <%=text_field :val,:data,:class=>"textfield",:id =>"txt_firstname",:value=>current_user.first_name,:style=>"display:none;"%>
					     	<%=link_to "Edit","#",:class=>"edit",:id=>"first_name",:style=>"visibility:hidden;"%>
						    <%=link_to "Save","#",:class=>"edit",:id=>"save_firstname",:style=>"visibility:hidden;"%>
			    </div>
  			    </fieldset>
				    <fieldset>
						<div class="label-contain">
							<p><%= label_tag "Last Name:"%><br /></p>
						</div>
						<div id="last_name_display" >
						<div class="info-right">
							<span class="info_lastname" id="label_last_name"><%=current_user.last_name%></span>
    							 <%=text_field :val,:data,:class=>"textfield",:id =>"txt_lastname",:value=>current_user.last_name,:style=>"display:none;"%>
                   <%=link_to "Edit","#",:class=>"edit",:id=>"last_name",:style=>"visibility:hidden;"%>
									 <%=link_to "Save","#",:class=>"edit",:id=>"save_lastname",:style=>"visibility:hidden;"%>
				       	</div>
								</div>
				    </fieldset>
				    <fieldset>
						<div class="label-contain">
							<p><%= label_tag "Title:"%><br /></p>
						</div>
						<div class="info-right">
						<%unless current_user.title.present?%>
				 		<span class="info_title" id="label_title" style="visibility:hidden">*****</span>
						<%else%>
					 <span class="info_title" id="label_title" ><%=current_user.title%></span>
						<%end%>
						 <%=text_field :val,:data,:class=>"textfield",:id =>"txt_title",:value=>current_user.title,:style=>"display:none;"%>
              <%=link_to "Edit","#",:class=>"edit",:id=>"title",:style=>"visibility:hidden;"%>
							<%=link_to "Save","#",:class=>"edit",:id=>"save_title",:style=>"visibility:hidden;"%>
				    </div>
				    </fieldset>
				    <fieldset>
						<div class="label-contain">
							<p><%= label_tag "Primary:"%><br /></p>
						</div>
						<div class="info-right">
							<span class="info_email" id="label_email"><%=current_user.email%></span>
						 <%=text_field :val,:data,:class=>"textfield",:id =>"txt_email",:value=>current_user.email,:style=>"display:none;"%>
               <%=link_to "Edit","#",:class=>"edit",:id=>"email",:style=>"visibility:hidden;"%>
							<%=link_to "Save","#",:class=>"edit",:id=>"save_email",:style=>"visibility:hidden;"%>
				       	</div>
				    </fieldset>
						
				    <fieldset>
						<div class="label-contain">
							<p><%= label_tag "Secondary:"%><br /></p>
						</div>
						 <div class="info-right">
	  							<span class="info_email" id="label_secondary_email">
  	 						  <%if current_user.secondary_emails.present?%>
       								     <% current_user.secondary_emails.each_with_index do |e,index| %>
					           	 						  <%if e.confirmation_token.present?%>
										                 <span><%=raw index==0 ? "" : "<br/>"%><%=e.email%>&nbsp;(unverified)<%=link_to "Delete",delete_email_update_path(e),:class=>"edit delete",:id=>"delete_email"%></span>
																		 <%else%>
                                         <span><br/><%=e.email%><%=link_to "Delete",delete_email_update_path(e),:class=>"edit delete",:id=>"delete_email"%> </span>
																		<%end%>	
							       			 <%end%>
									<%end%>		
									</span>
							    <input type="text" name="secondary-email" value="" class="textfield hidden" /><br />
                   <span id="semail"></span>
				      	   <a href="#" class="add-email" id="add_new_email">+ Add another email</a>
				       	</div>
				     </fieldset>
						 <fieldset>
						<div class="label-contain">
							   <p><%= label_tag "Password:"%><br /></p>
						 </div>
							<div class="info-right">
							<span class="info_password" id="label_password">********</span>
						    	 <%=password_field :val,:data,:class=>"textfield",:id =>"txt_password",:value=>"********",:style=>"display:none;"%>
							     <%=link_to "Edit","#",:class=>"edit",:id=>"password",:style=>"visibility:hidden;"%>
 		       	</div>
				    </fieldset>
						 <fieldset>
							<div class="label-contain" id="confirm" style="display:none;">
						      	<p><%= label_tag "Confirm:"%><br /></p>
						 </div>
         			<div class="info-right" id="confirm_pass">			
	                  <span class="info_password" id="label_confirm"></span>	
                     <%=password_field :val,:data,:class=>"textfield",:id =>"txt_confirm",:value=>"********",:style=>"display:none;"%>
							       <%=link_to "Save","#",:class=>"edit",:id=>"save_confirm",:style=>"visibility:hidden;"%>
						  </div>
						</fieldset>
						<fieldset>
						<div class="label-contain">
							<p><%= label_tag "Phone:"%><br /></p>
						</div>
						<div class="info-right">
						<%unless current_user.phone.present?%>
				 		<span class="info_phone" id="label_phone" style="visibility:hidden">*****</span>
						<%else%>
					 <span class="info_phone" id="label_phone" ><%=current_user.phone%></span>
						<%end%>
						 <%=text_field :val,:data,:class=>"textfield",:id =>"txt_phone",:value=>current_user.phone,:style=>"display:none;"%>
              <%=link_to "Edit","#",:class=>"edit",:id=>"phone",:style=>"visibility:hidden;"%>
							<%=link_to "Save","#",:class=>"edit",:id=>"save_phone",:style=>"visibility:hidden;"%>
				       	</div>
				    </fieldset>
				    <fieldset>
						<div class="label-contain">
							<p><%= label_tag "Mobile:"%><br /></p>
						</div>
						<div class="info-right">
						<%if current_user.mobile.present?%>
						<span class="info_mobile" id="label_mobile" ><%=current_user.mobile%></span>
						<%else%>
						<span class="info_mobile" id="label_mobile" style="visibility:hidden">*****</span>
						 <%end%>
						 	 <%=text_field :val,:data,:class=>"textfield",:id =>"txt_mobile",:value=>current_user.mobile,:style=>"display:none;"%>
               <%=link_to "Edit","#",:class=>"edit",:id=>"mobile",:style=>"visibility:hidden;"%>
							<%=link_to "Save","#",:class=>"edit",:id=>"save_mobile",:style=>"visibility:hidden;"%>
				       	</div>
				    </fieldset>
				    <fieldset>
						<div class="label-contain">
							<p><%= label_tag "Time Zone:"%><br /></p>
						</div>
						<div class="info-right">
							<span class="info_time_zone" id="label_time_zone">
							<%= select_tag("time_zone",options_for_select(time_zone_select),{:prompt => 'Select time_zone'})%>
							</span>
						  <%=text_field :val,:data,:class=>"textfield",:id =>"txt_time_zone",:value=>current_user.time_zone,:style=>"display:none;"%>
               <%#=link_to "Edit","#",:class=>"edit",:id=>"time_zone"%>
							<%=link_to "Save","#",:class=>"edit",:id=>"save_time_zone"%>
				       	</div>
				    </fieldset>
				    <fieldset>
						<div class="label-contain">
							<p><%= label_tag "Chat Color:"%><br /></p>
						</div>
						<div class="info-right">
			       <%= hidden_field :color,:data,:size =>1,:id =>'choose_color_value' ,:value=>current_user.color%>
			       <%= text_field :color,:data,:class=>"textfield",:size =>1,:disabled=>true,:id =>'choose_color' ,:style=>"width:19px;height:19px;background-color:##{current_user.color}"%>
             <img src="/images/color-chooser.png" alt="color-choose" id="colorSelector"/>
						 </div>
				    </fieldset>
				</form>
			</div>
		</div>
	</div>
    <div class="r-panel-contain" id="my_contacts" style="display:none;">
		<div class="r-panel">
			<div class="user-list">
      <%current_user.my_contacts.each do |user|%>
				<div class="user">
					<div class="left-icons">
						<div class="avatar-mini"></div>
			  		        	<img src="<%=user.image_url%>" class="avatar-mini-img" alt="avatar"></img>
           </div>
					<div class="info">
						<span class="position"><%=user.title%></span>
						<span class="name"><%=user.full_name%></span>
						<span class="p-number"><%=user.phone%></span>
						<span class="email"><a href="mailto:<%=user.email%>"><%=user.email%></a></span>
					</div>
					<div class="clear-fix"></div>
				</div>
      <%end%>
			</div>
		</div>
	</div>
<script>
var UserEdit=true;
$('#file_upload').fileUploadUI({
   initUpload: function (event, files, index, xhr, handler, callBack) {
        var regexp = /\.(png)|(jpg)|(gif)$/i;
         if (!regexp.test(files[index].name)) {
            alert('ONLY IMAGES ALLOWED!');
            return;
        }
        callBack();
    },
    uploadTable: $('#files'),
    downloadTable: $('#files'),
    buildUploadRow: function (files, index) {
      return $('<tr><td>' + files[index].name + '<\/td>' +
                    '<td class="file_upload_progress"><div><\/div><\/td>' +
                    '<td class="file_upload_cancel">' +
                    '<button class="ui-state-default ui-corner-all" title="Cancel">' +
                    '<span class="ui-icon ui-icon-cancel">Cancel<\/span>' +
                    '<\/button><\/td><\/tr>');
    },
    buildDownloadRow: function (file) {
      return $('<tr><td><\/td><\/tr>');
  },
	   onComplete: function (event, files, index, xhr, handler) {
      var json = handler.response;
      $('img#default-image').attr('src',json.file_name);
    }
  });
</script>


