<body class="signup">
<div class="header">
<%= render :partial=>'/home/header'%>
</div>
<div class="container-960 alpha-m content-bottom">
	<div class="grid-260">
		<div class="info-box">
			<h4>Fully functional.</h4>
			<p>No credit card required.</p>
		</div>
		<p>Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere. Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. </p>
	</div>
			<div class="grid-630">
		<h1>Sign up for a free 60-day trial</h1>
		<hr class="light-hr" />
		<table>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
		
		<tr><td><%=f.label "First_Name", "First Name",:class=>"last"%></td><td><%=f.label "Last_Name","Last Name",:class=>"last" %></td></tr>
	 <tr><td><%=f.text_field :first_name,:class=>"textfield",:id=>"signup-fname",:style=>"width:263px;height:33px;"%></td>
	  <td><%= f.text_field :last_name,:class=>"textfield last",:id=>"signup-lname",:style=>"width:263px;height:33px;" %></td></tr>
		<tr><td><%= f.label "Email_Address","Email Address",:class=>"last" %></td><td><%= f.label "Password","Password",:class=>"last"  %></td></tr>
    <%if session[:invite_email].present?%>
      <tr><td><%= f.text_field :email,:class=>"textfield",:value=>session[:invite_email],:style=>"width:263px;height:33px;" %></td>
      <%session[:invite_email]=nil%>
    <%else%>
      <tr><td><%= f.text_field :email,:class=>"textfield",:onclick=>"this.value='';",:onfocus=>"this.select()", :onblur=>"this.value=!this.value?'name@example.com':this.value;",:value=>"name@example.com",:style=>"width:263px;height:33px;" %></td>
    <%end%>
	  <td><%= f.password_field :password,:class=>"textfield last",:style=>"width:263px;height:33px;"  %></td></tr>
	</table>
	<hr class="light-hr" />
	 <%=f.check_box "terms_conditions",:class=>"checkbox"%> I agree to the Mocha <a href="/terms">Terms of Use.</a>
   <%= f.submit "Sign up",:class=>"btn signup-btn"%>
	  <%end%>
  	</div>	
	
<script>
var Signup=true;
</script>

<div class="clear-fix"></div>
</div>

<div class="push"></div>
</div>

<div class="footer">
		<%= render :partial=>'/home/footer'%>
</div>
</body>
