<body class="signup">

<div class="wrapper">

<div class="header">
		<%= render :partial=>'/home/header'%>
</div>

<div class="container-960 alpha-m content-bottom">
	<div class="grid-260">
		<div class="info-box">
			<h4>Fully functional.</h4>
			<p>No credit card required.</p>
		</div>
		<p>Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere. Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. </p>
	</div>
			<div class="grid-630">
		<h1>Sign up for a free 60-day trial</h1>
		<hr class="light-hr" />
	  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
			<%=f.label "First_Name", "First Name"%><%=f.label "Last_Name","Last Name",:class=>"last" %>
			<%=f.text_field :first_name,:class=>"textfield",:id=>"signup-fname"%>
			<%= f.text_field :last_name,:class=>"textfield last",:id=>"signup-lname"%>
			<%= f.label "Email_Address","Email Address" %><%= f.label "Password","Password",:class=>"last"  %>
			<%if session[:invite_email].present?%>
				<%= f.text_field :email,:class=>"textfield",:value=>session[:invite_email] %>
				<%session[:invite_email]=nil%>
			<%else%>
				<%= f.text_field :email,:class=>"textfield",:onclick=>"this.value='';",:onfocus=>"this.select()", :onblur=>"this.value=!this.value?'name@example.com':this.value;",:value=>"name@example.com"%>
			<%end%>
			<%= f.password_field :password,:class=>"textfield last"%>
			<hr class="light-hr" />
	   <%= f.submit "Sign up",:class=>"btn signup-btn",:id=>"user_signup"%>
			<p> <%=f.check_box "terms_conditions",:class=>"checkbox"%> I agree to the Mocha <a href="/terms">Terms of Use.</a></p>
		<%end%>
	</div>
	
	<div class="clear-fix"></div>
  </div>
	<div class="push"></div>
  </div>
	
<div class="footer">
		<%= render :partial=>'/home/footer'%>
</div>
</body>

<script>
var Signup=true;
$(document).ready(function() {
$('#user_signup').live('click',function(){
      $.ajax({
        url:'/users',
        data: $('form#user_new').serialize(),
        type: "POST"        
      });
      return false;
    });
     
   $('#remember_me').live('click',function(){
      if($('#remember_me').is(':checked'))
      {
         $('#remember_hidden_id').val("1")
      }
       else
       {
           $('#remember_hidden_id').val("0")
       }

     });
     
   $('#user_submit').live('click',function(){
             
      if (($('#user_email').val()=="") && ($("#user_password").val()==""))
       {
            alert("Email and Password can't be blank");
       }
       
      else if ($('#user_email').val()=="")
        { 
           alert("Email can't be blank");
        }
       else if ($("#user_password").val()=="")
       {
           alert("Password can't be blank");
       }
       else
      {       
     
      $.ajax({
        url:'/users/sign_in',
        data: $('form#user_login').serialize(),
        type: "POST",
        success: function(data){
          if(data!="redirect")
          {
            alert(data);
          }
          else
          {
            window.location.href="/messages";
          }
        }
      });
    }
      return false;
    });
  });
  
</script>